.tms-dashboard-thumb-widget {
    height: 60px;
    padding-top: 7px;
}
.dashboard-report-btn {
    height: 60px;
    width: 60px;
    white-space: normal!important;
    margin: 5px;
}
.dashboard-report-btn-text {
    position: absolute;
    left: calc( 50% - 21px);
    bottom: 5px;
}
.dashboard-report-btn>i {
    font-size: 20px;
    margin-top: 5px!important;
}
@media (max-width: 1599px) and (min-width: 1200px) {
    .col-custom-1 {
        width: 33.3333333333%;
    }
}​
