.location-body-form {
    padding: 10px;
    border: solid 1px #d1d1d1;
    border-radius: 3px;
}
.address-title {
    border-bottom: solid 1px #f0f3f6;
}
.address-caption{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}
.actions-button-div {
    display: inline-block;
    float: right;
    padding-top: 5px;
}
.address-body-div {
    padding-top: 10px;
}
.image-select-button {
    position: absolute;
    bottom: 15px;
    left: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.fileinput-preview.location-page>img {
    max-height: 100%!important;
    height: 100%!important;
    width: 100%!important;
}
.form-group .form-control.has-error {
    border: 1px solid #f00;
}
.form-group .form-control.has-error.valid {
    border: 1px solid #c6cfdc;
}
.schedule-user-div {
    position: relative;
}
.schedule-user-div>p {
    margin: 5px 0;
}
.delete-schedule-a {
    position: absolute;
    right: 15px;
    top: 3px;
}
.custom-title-div {
    width: 100%!important;
    background-color: transparent!important;
    border: 0;
}
.custom-h3 {
    font-size: 11pt;
    margin: 0;
    text-align: center;
    cursor: default;
}
.setting_register_page_text {
    text-align: right;
    padding-top: 5px;
}
.break-time-container {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ff4545;
    border-radius: 5px;
    width: 100%;
}
.note-group-select-from-files {
  display: none;
}
@media(max-width: 1675px) {
    #schedule_user {
        width: 700px!important;
    }
}
@media(max-width: 1499px) {
    .custom-h3 {
        font-size: 10pt;
    }
}
@media(max-width: 1199px) {
    .custom-h3 {
        font-size: 9pt;
    }
}

@media(max-width: 991px) {
    .custom-h3 {
        font-size: 9pt;
    }
    #schedule_user {
        width: 100%!important;
    }
    .setting_register_page_text {
        text-align: left;
        padding: 5px 15px;
    }
}

@media(max-width: 600px) {
    #schedule_user {
        width: 700px!important;
    }
    .tabbable-line > .nav-tabs > li {
        width: 100%;
        text-align: center;
    }
}
