/* Cubic Bezier Transition */
/***
Login page
***/
/* logo page */
.login {
  background-color: #666 !important; }

.login .logo {
  margin: 60px auto 20px auto;
  padding: 15px;
  text-align: center; }

.login .content {
  background: url(../img/bg-white-lock.png) repeat;
  width: 360px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px; }

.login .content h3 {
  color: #eee; }

.login .content h4 {
  color: #eee; }

.login .content p,
.login .content label {
  color: #fff; }

.login .content .login-form,
.login .content .forget-form {
  padding: 0px;
  margin: 0px; }

.login .content .form-control {
  background-color: #fff; }

.login .content .forget-form {
  display: block; }

.login .content .register-form {
  display: block; }

.login .content .form-title {
  font-weight: 300;
  margin-bottom: 25px; }

.login .content .form-actions {
  background-color: transparent;
  clear: both;
  border: 0px;
  padding: 0px 30px 25px 30px;
  margin-left: -30px;
  margin-right: -30px; }

.login .content .form-actions .checkbox {
  margin-left: 0;
  padding-left: 0; }

.login .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px; }

.login .content .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px; }

.login .content .form-actions .checkbox {
  margin-top: 8px;
  display: inline-block; }

.login .content .form-actions .btn {
  margin-top: 1px; }

.login .content .forget-password {
  margin-top: 5px; }

.login .content .create-account {
  border-top: 1px dotted #eee;
  padding-top: 10px;
  margin-top: 15px; }

.login .content .create-account a {
  display: inline-block;
  margin-top: 5px; }

/* select2 dropdowns */
.login .content .select2-container i {
  display: inline-block;
  position: relative;
  color: #ccc;
  z-index: 1;
  top: 1px;
  margin: 4px 4px 0px -1px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center; }

.login .content .has-error .select2-container i {
  color: #b94a48; }

.login .content .select2-container a span {
  font-size: 13px; }

.login .content .select2-container a span img {
  margin-left: 4px; }

/* footer copyright */
.login .copyright {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  color: #eee;
  font-size: 13px; }

@media (max-width: 480px) {
  /***
  Login page
  ***/
  .login .logo {
    margin-top: 10px; }
  .login .content {
    padding: 30px;
    width: 270px; }
  .login .content h3 {
    font-size: 22px; }
  .login .checkbox {
    font-size: 13px; } }

    /* Cubic Bezier Transition */
    /***
    Login page
    ***/
    /* logo page */
    .place {
      background-color: #666 !important; }

    .place .logo {
      margin: 60px auto 20px auto;
      padding: 15px;
      text-align: center; }

    .place .content {
      background: url(../img/bg-black-lock.png) repeat;
      width: 800px;
      margin: 0 auto;
      margin-bottom: 0px;
      padding: 30px;
      padding-top: 20px;
      padding-bottom: 15px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
      border-radius: 7px;
      transition: all .3s ease-out
   }

    .place .content h3 {
      color: #eee; }

    .place .content h4 {
      color: #eee; }

    .place .content p,
    .place .content label {
      color: #fff; }

    .place .content .login-form,
    .place .content .forget-form {
      padding: 0px;
      margin: 0px; }

    .place .content .form-control {
      background-color: #fff; }

    .place .content .forget-form {
      display: block; }

    .place .content .register-form {
      display: block; }

    .place .content .form-title {
      font-weight: 300;
      margin-bottom: 25px; }

    .place .content .form-actions {
      background-color: transparent;
      clear: both;
      border: 0px;
      padding: 0px 30px 25px 30px;
      margin-left: -30px;
      margin-right: -30px; }

    .place .content .form-actions .checkbox {
      margin-left: 0;
      padding-left: 0; }

    .place .content .forget-form .form-actions {
      border: 0;
      margin-bottom: 0;
      padding-bottom: 20px; }

    .place .content .register-form .form-actions {
      border: 0;
      margin-bottom: 0;
      padding-bottom: 0px; }

    .place .content .form-actions .checkbox {
      margin-top: 8px;
      display: inline-block; }

    .place .content .form-actions .btn {
      margin-top: 1px; }

    .place .content .forget-password {
      margin-top: 5px; }

    .place .content .create-account {
      border-top: 1px dotted #eee;
      padding-top: 10px;
      margin-top: 15px; }

    .place .content .create-account a {
      display: inline-block;
      margin-top: 5px; }

    /* select2 dropdowns */
    .place .content .select2-container i {
      display: inline-block;
      position: relative;
      color: #ccc;
      z-index: 1;
      top: 1px;
      margin: 4px 4px 0px -1px;
      width: 16px;
      height: 16px;
      font-size: 16px;
      text-align: center; }

    .place .content .has-error .select2-container i {
      color: #b94a48; }

    .place .content .select2-container a span {
      font-size: 13px; }

    .place .content .select2-container a span img {
      margin-left: 4px; }

    /* footer copyright */
    .place .copyright {
      text-align: center;
      margin: 0 auto;
      padding: 10px;
      color: #eee;
      font-size: 13px; }

    .registerlocations-form .form-group {
        padding: 15px 0;
        margin-bottom: 0;
    }

    .registerlocations-form .form-group.shirt-size {
        padding: 25px 0;
        margin-bottom: 0;
    }

    .registerplease-hr {
        margin:0;
        border: 1.0px solid #eee
    }

    .registerplase-panelheading {
        background-color: transparent!important;
    }
    .registerplase-panel {
        background-color: transparent!important;
        box-shadow: unset;
    }
    .place .accordion-toggle {
        padding-left: 0!important;
        color: #fff;
        transition: all .3s ease-out;
    }
    .place .accordion-toggle:hover {
        color: #000;
    }
    .tms-register-schedule-text {
        font-size: 11pt;
    }

    @media (max-width: 991px) {
        .place .content {
        width: 550px; }
        .registerlocations-form .form-group {
            padding: 0;
            margin-bottom: 0;
        }

        .registerlocations-form .form-group.shirt-size {
            padding: 0;
            margin-bottom: 0;
        }
        .registerplease-hr {
            margin-top: 20px;
        }
        .tms-register-schedule-text {
            font-size: 9pt;
        }
    }

    @media (max-width: 600px) {
        .place .content {
        width: 90%; }
    }

    @media (max-width: 480px) {
      /***
      Login page
      ***/
      .place .logo {
        margin-top: 10px; }
      .place .content {
        padding: 30px; }
      .place .content h3 {
        font-size: 22px; }
      .place .checkbox {
        font-size: 13px; }
    }
